<!--NO3-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<h1>バックエンド</h1>
<% @roadmaps.each do |roadmap| %>
 <div>
  <%= link_to(roadmap.title,"/roadmap/2/#{roadmap.id}" ) %>
  <%= link_to(@user.name,"#" ) %>
  <%= roadmap.created_at%>
 </div>
<% end %>
<%= link_to("投稿", "/roadmap/new") %>
<%= link_to("種別選択に戻る", "/") %>