<h3>Create My roadmap</h3>
<h2>My ロードマップ作製</h2>
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div>
  <%= form_with url: {controller: 'roadmaps', action: 'cmr' } do  |f| %>
      <%= f.label :タイトル %>
      <%= f.text_field :title %>

      <%= f.label :勉強時間平日？時間 %>
      <%= f.number_field :stady_time_week %>
      
      <%= f.label :勉強時間休日？時間 %>
      <%= f.number_field :stady_time_holiday %>
      
      <%= f.label :必要期間？か月 %>
      <%= f.number_field :period_stady %>
      
      <%= f.label :合計時間目安？時間 %>
      <%= f.number_field :total_stady_time %>
      
      <%= f.label :コメント %>
      <%= f.text_area :total_comment %>
      
      
      <%= f.label :ジャンル %>
      <%= f.radio_button :category_id, 1 %>フロントエンド <%= f.radio_button :category_id, 2 %>バックエンド
      <%= f.radio_button :category_id, 3 %>web制作 <%= f.radio_button :category_id, 4 %>フリーランス

   <input type="submit" value="ロードマップ詳細">
  <% end %>
</div>