<!--NO19-->
<div class="maketitle">
<h3 class="makename">Create roadmap</h3>
</div>
<div class="makesub">
<h1 class="makesubname">ロードマップ編集</h1>
</div>
<% @roadmapshow.errors.full_messages.each do |message| %>
<div class="erorr">
    <%= message %>
</div>
<%end%>
<%=form_tag("/roadmap/updateshow/#{@roadmapshow.id}") do %>
 <div class="updatenewshow">
  <div class="updateshowbottom">
　<p class="ustitle">タイトル：</p>
　<input type="text" value= "<%= @roadmapshow.content %>" name="content" class="inputustitle">
　
　<p class="usmethod">勉強方法、教材など：</p>
　<input type="text" value= "<%= @roadmapshow.method %>" name="method" class="inputusmethod">
　
　<p class="usrequired">所要時間：　　　　　　　　　時間</p>
　<input type="number" value= "<%= @roadmapshow.time_required %>" name="time_required" class="inputusrequired">
　
　<p class="uscomment">コメント：</p>
　<textarea name="comment" class="inputuscomment"><%= @roadmapshow.comment%></textarea>
　</div>
　<input type="submit" value="編集完了" class="ussend">
 </div>
<%end%>