<!--NO2-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div class="sam">
<div class="bigtitle">
  <p>フロントエンドエンジニア</p>
</div>
<img class = "samlogo"  src="/user_images/fsphone.jpg">
</div>
<% @roadmaps.zip(@users) do |roadmap, user| %>
  <%= link_to("/roadmap/1/#{roadmap.id}") do %>
  <div class="index">
  <p class="roadtitle"><%= "#{roadmap.title}"%></p>
  <%= link_to(user.name,"/user/show/#{user.id}", {class: "user"}) %>
  <div class="like">
  <%if @current_user%>
      <%if Like.find_by(user_id: @current_user.id, roadmap_id: roadmap.id)%>
        <%= link_to("/like/#{roadmap.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn fa-pink fa-lg"></span>
        <%end%>
      <%else%>
        <%= link_to("/like/#{roadmap.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike fa-lg"></span>
        <%end%>
      <%end%>
  <%else%>
      <%= link_to("/login") do %>
        <span class="fa fa-heart like-btn-unlike"></span>
      <%end%>
  <%end%>
  <%= Like.where(roadmap_id: roadmap.id).count %>
  </div>
  <p class="time"><%= "#{roadmap.updated_at}"%></p>
  <img src="<%= "/user_images/#{user.image_name}"%>" class="icon">
  </div>
 <% end %>
<% end %>
<div class="low">
<% if @current_user %>
  <%= link_to("投稿", "/roadmap/new", {class: "up"}) %>
<% end %>
<%= link_to("種別選択に戻る", "/", {class: "choise"}) %>
</div>