<!--NO2-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<h1>フロントエンド</h1>
<% @roadmaps.zip(@users) do |roadmap, user| %>
 <div>
  <%= link_to(roadmap.title,"/roadmap/1/#{roadmap.id}" ) %>
  <%= link_to(user.name,"/user/show/#{user.id}" ) %>
  <%= roadmap.created_at%>
  <img src="<%= "/user_images/#{user.image_name}"%>">
 </div>
<% end %>
<%= link_to("投稿", "/roadmap/new") %>
<%= link_to("種別選択に戻る", "/") %>