<div class="maketitle">
<h3 class="makename">My roadmap edit</h3>
</div>
<div class="makesubsub">
<h1 class="makesubsubname">My ロードマップ編集</h1>
</div>
<div class="selectchoise">
<%= link_to("ロードマップを
新規作成
する", "/roadmap/cmroad", {class: "fromroad"})%>
<%= link_to("お気に入りから
ロードマップ
にする", "/user/#{@current_user.id}/cflike", {class: "fromlike"})%>
<%= link_to("自分の投稿から
ロードマップ
にする", "/user/cfmroad/#{@current_user.id}", {class: "frommy"})%>
</div>

<div class="editroadmaptop">
<%=form_tag("/roadmap/updatemyroad/#{@roadmap.id}") do %>
　<p class="editrtitle">タイトル：</p><input type="text" value="<%= @roadmap.title%>" name="title" class="editsize">
　<div class="titlebox"></div>
　<div class="editmap">
　<p class="editstadytime">勉強時間：　平日　　　時間</p>
　<input type="number" value= "<%= @roadmap.stady_time_week %>" name="stady_time_week" class="editweekstady">
　
　<p class="editholiday">休日　　　時間</p>
　<input type="number" value= "<%= @roadmap.stady_time_holiday %>" name="stady_time_holiday" class="editholidaystady">
　
　<p class="editperiod">必要期間：　上記のペースで　　　か月</p>
　<input type="number" value= "<%= @roadmap.period_stady %>" name="period_stady" class="editneedmonth">
　
　<p class="edittotaltime">合計時間：　目安　　　　時間</p>
　<input type="number" value= "<%= @roadmap.total_stady_time %>" name="total_stady_time" class="edittotaltimeinput">
　
　<p class="editcommentall">コメント：</p>
　<textarea name="total_comment" class="editcommentallinput"><%= @roadmap.total_comment%></textarea>
　
  <p class="editgenre">ジャンル：</p>
  <input type="radio" name="category_id" value="1" <%= @a %> class="genreeditfront"><p class="frontedittitle">フロントエンド</p><input type="radio" name="category_id" value="2" <%= @b %> class="genreeditback"><p class="backedittitle">バックエンド</p>
  <input type="radio" name="category_id" value="4" <%= @d %> class="genreeditfree"><p class="freeedittitle">web制作</p>
　</div>
　<input type="submit" value="ロードマップも編集する" name="continue" class="subnewsubmit roadnewsubmit">
　<input type="submit" value="編集完了" name="finish" class="subfinishedit finishedit">
<%end%>
</div>