<!--no12(2)-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div class="show">
  <p class="showtitle"><%= @roadmap.title %></p>
  <p class="showuser"><%= @user.name %></p>
  <div class="showlike">
  <%if @current_user%>
      <%if Like.find_by(user_id: @current_user.id, roadmap_id: @roadmap.id)%>
        <%= link_to("/like/#{@roadmap.id}/destroymrims", {method: "post"}) do %>
          <span class="fa fa-heart like-btn fa-pink fa-lg"></span>
        <%end%>
      <%else%>
         <%= link_to("/like/#{@roadmap.id}/createmrims", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike fa-black fa-lg"></span>
        <%end%>
      <%end%>
  <%else%>
      <%= link_to("/login") do %>
        <span class="fa fa-heart like-btn fa-pink fa-lg"></span>
      <%end%>
  <%end%>
  <%= Like.where(roadmap_id: @roadmap.id).count %>
  </div>
  <img src="<%= "/user_images/#{@user.image_name}"%>" class="samicon">
  <p class="timeshow"><%= @roadmap.updated_at %></p>
  </div>
  <div class="showdetail">
  <p class="stadytime"><%= "勉強時間: 平日#{@roadmap.stady_time_week}時間　休日#{@roadmap.stady_time_week}時間" %></p>
  <p class="period"><%= "必要期間: 上記のペースで#{@roadmap.period_stady}ケ月ほど"%></p>
  <p class="totaltime"><%= "合計時間目安: #{@roadmap.total_stady_time}時間" %></p>
  <p class="comment"><%= "コメント: #{@roadmap.total_comment}" %></p>
</div>
<div class="road">
  <h1>ロードマップ</h1>
</div>
  <% @roadmap_shows.each do |show| %>
    <div class="roadmap">
    <p class="minititle"><%= "・#{show.content}" %></p>
    <p class="method"><%= "アプローチ：#{show.method}" %></p>
    <% if show.hour_required != 0 %>
    <p class="require"><%= "所要時間：#{show.time_required}時間　#{show.hour_required}分" %></p>
    <%else%>
    <p class="require"><%= "所要時間：#{show.time_required}時間" %></p>
    <%end%>
    <p class="minicomment"><%= "コメント：#{show.comment}" %></p>
   </div>
  <% end %>
  <div class="showbottom">
<%if @current_user && @user.id == @current_user.id %>
  <%= link_to("編集", "/roadmap/myre/#{@roadmap.id}", {class: "editstart"})%>
  <%= link_to("投稿を削除", "/roadmap/destroymy/#{@roadmap.id}", {method: "post", class: "roaddelite"})%>
<%end%>
<%= link_to("一覧へ", "/user/mroadi/#{@user.id}", {class: "backtable"})%>
</div>