<!--no12(2)-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div>
  <%= @roadmap.title %>
  <%if @current_user%>
      <%if Like.find_by(user_id: @current_user.id, roadmap_id: @roadmap.id)%>
        <%= link_to("いいね！外す", "/like/#{@roadmap.id}/destroymrims", {method: "post"})%>
      <%else%>
        <%= link_to("いいね！する", "/like/#{@roadmap.id}/createmrims", {method: "post"})%>
      <%end%>
  <%else%>
      <%= link_to("いいね!", "/login") %>
  <%end%>
  <%= Like.where(roadmap_id: @roadmap.id).count %>
  <%= @user.name %>
  <%= @roadmap.updated_at %>
  <%= "勉強時間: 平日#{@roadmap.stady_time_week}時間　休日#{@roadmap.stady_time_week}時間" %>
  <%= "必要期間: 上記のペースで#{@roadmap.period_stady}ケ月ほど"%>
  <%= "合計時間目安: #{@roadmap.total_stady_time}時間" %>
  <%= "コメント: #{@roadmap.total_comment}" %>
</div>
<div>
  <h1>ロードマップ</h1>
  <% @roadmap_shows.each do |show| %>
    <%= "・#{show.content}" %>
    <%= "アプローチ：#{show.method}" %>
    <%= "所要時間：#{show.time_required}分" %>
    <%= "コメント：#{show.comment}" %>
  <% end %>
</div>
<%if @current_user && @user.id == @current_user.id %>
  <%= link_to("編集", "/roadmap/myre/#{@roadmap.id}")%>
  <%= link_to("投稿を削除", "/roadmap/destroymy/#{@roadmap.id}", {method: "post"})%>
<%end%>
<%= link_to("一覧へ", "/user/mroadi/#{@user.id}")%>