<!--no17-->
<div class="maketitle">
<h3 class="makename">Create roadmap</h3>
</div>
<div class="makesub">
<h1 class="makesubname">ロードマップ投稿</h1>
</div>
<!--<%# @roadmap.errors.full_messages.each do |message| %>-->
<!--<div>-->
    <%#= message %>
<!--</div>-->
<!--<%#end%>-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div class="roadmaptop">
  <div class="miniroadt">
  <%= form_with url: {controller: 'roadmaps', action: 'create' } do  |f| %>
      <p class="minirtitle">タイトル：</p><%= f.text_field :title, class: "inputsize" %>
  </div>
  <div class="newshowmap">
      <p class="inputstadytime">勉強時間：　平日　　時間</p>
      <%= f.number_field :stady_time_week, class: "weekstady" %>
      
      <p class="inputholiday">休日　　時間</p>
      <%= f.number_field :stady_time_holiday, class: "holidaystady" %>
      
      <p class="needperiod">必要期間：　上記のペースで　　か月</p>
      <%= f.number_field :period_stady, class: "needmonth" %>
      
      <p class="totaltimetitle">合計時間：　目安　　　　時間</p>
      <%= f.number_field :total_stady_time, class: "totaltimeinput" %>
      
      <p class="commentall">コメント：</p>
      <%= f.text_area :total_comment, class: "commentallinput" %>
      
      
      <p class="genre">ジャンル：</p>
      <%= f.radio_button :category_id, 1 %>フロントエンド <%= f.radio_button :category_id, 2 %>バックエンド
      <%= f.radio_button :category_id, 4 %>フリーランス
    </div>

   <input type="submit" value="ロードマップ詳細">
  <% end %>
</div>