<!--NO4-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<h1>web制作</h1>
<% @roadmaps.each do |roadmap| %>
 <div> <!--!リンクを張る-->
  <%= link_to(roadmap.title,"/roadmap/3/#{roadmap.id}" ) %>
  <%= link_to(@user.name,"/user/show/#{@user.id}" ) %>
  <%= roadmap.created_at%>
  <img src="<%= "/user_images/#{@user.image_name}"%>">
 </div>
<% end %>
<%= link_to("投稿", "/roadmap/new") %>
<%= link_to("種別選択に戻る", "/") %>