<!--NO4-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<h1>web制作</h1>
<% @roadmaps.zip(@users) do |roadmap, user| %>
 <div>
  <%= link_to(roadmap.title,"/roadmap/3/#{roadmap.id}" ) %>
  <%= link_to(user.name,"/user/show/#{user.id}" ) %>
  <%if @current_user%>
      <%if Like.find_by(user_id: @current_user.id, roadmap_id: roadmap.id)%>
        <%= link_to("いいね！外す", "/like/#{roadmap.id}/destroy", {method: "post"})%>
      <%else%>
        <%= link_to("いいね！する", "/like/#{roadmap.id}/create", {method: "post"})%>
      <%end%>
  <%else%>
      <%= link_to("いいね!", "/login") %>
  <%end%>
  <%= Like.where(roadmap_id: roadmap.id).count %>
  <%= roadmap.updated_at%>
  <img src="<%= "/user_images/#{user.image_name}"%>">
 </div>
<% end %>
<% if @current_user %>
  <%= link_to("投稿", "/roadmap/new") %>
<% end %>
<%= link_to("種別選択に戻る", "/") %>