<div class="maketitle">
<%if @current_user && @user.id == @current_user.id %>
<h3 class="makename">My page</h3>
<%else%>
<h3 class="makename"><%= @user.name %> page</h3>
<%end%>
</div>
<div class="likemiddle">
<%= link_to("プロフィール", "/user/show/#{@user.id}", {class: "goprofr"})%>
<%= link_to("ロードマップ", "/user/road/#{@user.id}", {class: "goroadfp"})%>
<p class="mylike">お気に入り</p>
<div class="likebox"></div>
<%= link_to("投稿", "/user/mroadi/#{@user.id}", {class: "goshowfp"})%>
<p class="userlikemiddle">お気に入り</p>
</div>
<% @likes.each do |like| %>
 <% @roadmap = Roadmap.find_by(id: like.roadmap_id, display: true)%>
  <%= link_to("/roadmap/likeshow/#{@roadmap.id}") do %>
 <div class="likeindex">
  <p class="roadtitle"><%= "#{@roadmap.title}"%></p>
  <%= link_to(User.find_by(id: @roadmap.user_id).name,"/user/show/#{@roadmap.user_id}", {class: "user"}) %>
  <div class="like">
  <%if @current_user%>
      <%if Like.find_by(user_id: @current_user.id, roadmap_id: @roadmap.id)%>
        <%= link_to("/like/#{@roadmap.id}/destroylike", {method: "post"}) do %>
          <span class="fa fa-heart like-btn fa-pink fa-lg"></span>
        <%end%>
      <%else%>
        <%= link_to("/like/#{@roadmap.id}/createlike", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike fa-lg"></span>
        <%end%>
      <%end%>
  <%else%>
      <%= link_to("/login") do %>
        <span class="fa fa-heart like-btn fa-pink fa-lg"></span>
      <%end%>
  <%end%>
  <%= Like.where(roadmap_id: @roadmap.id).count %>
  </div>
  
  <p class="time"><%= "#{@roadmap.updated_at}"%></p>
  <img src="<%= "/user_images/#{User.find_by(id: @roadmap.user_id).image_name}"%>" class="icon">
 </div>
 <% end %>
 <% end %>
 