<!--no12-->
<%if @user.id == @current_user.id %>
  <h3>My page</h3>
<%else%>
  <h3><%= @user.name%> page</h3>
<%end%>
<%= link_to("プロフィール", "/user/show/#{@user.id}")%>
<%= link_to("ロードマップ", "/user/road/#{@user.id}")%>
<%= link_to("お気に入り", "#")%>
<p>投稿</p>
<h3>投稿</h3>
<% @roadmaps.each do |roadmap| %>
 <div>
  <%= link_to(roadmap.title,"/roadmap/myshow/#{roadmap.id}") %>
  <%= roadmap.created_at%>
  <img src="<%= "/user_images/#{@user.image_name}"%>">
 </div>
<% end %>
<%if @user.id == @current_user.id %>
<div>
  <%= link_to("投稿", "/roadmap/new")%>
</div>
<% end %>