<!--no12-->
<%if @current_user && @user.id == @current_user.id %>
  <h3>My page</h3>
<%else%>
  <h3><%= @user.name%> page</h3>
<%end%>
<%= link_to("プロフィール", "/user/show/#{@user.id}")%>
<%= link_to("ロードマップ", "/user/road/#{@user.id}")%>
<%= link_to("お気に入り", "/user/#{@user.id}/likepage")%>
<p>投稿</p>
<h3>投稿</h3>
<% @roadmaps.each do |roadmap| %>
 <div>
  <%= link_to(roadmap.title,"/roadmap/myshow/#{roadmap.id}") %>
  <%if Like.find_by(user_id: @current_user.id, roadmap_id: roadmap.id)%>
    <%= link_to("いいね！外す", "/like/#{roadmap.id}/destroymroadi", {method: "post"})%>
  <%else%>
    <%= link_to("いいね！する", "/like/#{roadmap.id}/createmroadi", {method: "post"})%>
  <%end%>
  <%= Like.where(roadmap_id: roadmap.id).count %>
  
  <%= roadmap.created_at%>
  <img src="<%= "/user_images/#{@user.image_name}"%>">
 </div>
<% end %>
<%if @current_user && @user.id == @current_user.id %>
<div>
  <%= link_to("投稿", "/roadmap/new")%>
</div>
<% end %>