<!--no8-->
<div class="maketitle">
<h3 class="makename">ユーザー登録</h3>
</div>
<% @user.errors.full_messages.each do |message| %>
<div class="erorr">
    <%= message %>
</div>
<%end%>
<div class="form">
<%=form_tag("/user/create") do %>
　<p class="newname">ユーザーネーム</p>
　<input type="text" value= "<%= @user.name %>" name="name" class="newuser">
　
　<p class="newadress">メールアドレス</p>
　<input type="email" value= "<%= @user.email %>" name="email" class="newmail">
　
　<p class="newpass">パスワード</p>
　<input type="password" value= "<%= @user.password %>" name="password" class="newpassword">
　
　<input type="submit" value="登録" class="newsubmit">
</div>
<%end%>