<!--No10-->
<%if @current_user && @user.id == @current_user.id %>
  <h3>My page</h3>
<%else%>
  <h3><%= @user.name%> page</h3>
<%end%>
<%= link_to("プロフィール", "/user/show/#{@user.id}")%>
<p>ロードマップ</p>
<%= link_to("お気に入り", "/user/#{@user.id}/likepage")%>
<%= link_to("投稿", "/user/mroadi/#{@user.id}")%>
<div>
<%if @current_user && @user.id == @current_user.id %>
  <h1>My ロードマップ</h1>
<%else%>
  <h1><%= @user.name %> ロードマップ</h1>
<%end%>
<%= "勉強時間: 平日#{@roadmap.stady_time_week}時間　休日#{@roadmap.stady_time_week}時間" %>
<%= "必要期間: 上記のペースで#{@roadmap.period_stady}ケ月ほど"%>
<%= "合計時間目安: #{@roadmap.total_stady_time}時間" %>
<%= "コメント: #{@roadmap.total_comment}" %>
</div>
<div>
  <% @mymaps.each do |map| %>
      <%= "・#{map.content}" %>
      <%= "アプローチ：#{map.method}" %>
      <% if map.hour_required != 0 %>
      <p class=""><%= "所要時間：#{map.time_required}時間　#{map.hour_required}分" %></p>
      <%else%>
      <p class=""><%= "所要時間：#{map.time_required}時間" %></p>
      <%end%>
      <%= "コメント：#{map.comment}" %>
  <% end %>
</div>
<%if @current_user && @user.id == @current_user.id %>
  <%= link_to("編集", "/roadmap/myroad/#{@roadmap.id}")%>
<%end%>