<!--No10-->
<%if @current_user && @user.id == @current_user.id %>
  <h3>My page</h3>
<%else%>
  <h3><%= @user.name%> page</h3>
<%end%>
<%= link_to("プロフィール", "/user/show/#{@user.id}")%>
<p>ロードマップ</p>
<%= link_to("お気に入り", "/user/#{@user.id}/likepage")%>
<%= link_to("投稿", "/user/mroadi/#{@user.id}")%>
<div>
<%if @current_user && @user.id == @current_user.id %>
  <h1>My ロードマップ</h1>
<%else%>
  <h1><%= @user.name %> ロードマップ</h1>
<%end%>
  <% @mymaps.each do |map| %>
      <%= map.content %>
      <%= map.method %>
      <%= "#{map.time_required}分" %>
      <%= map.comment %>
    <% end %>
</div>
<%if @current_user && @user.id == @current_user.id %>
  <%= link_to("編集", "/roadmap/mapedit/#{@user.id}")%>
<%end%>