<h3>My page</h3>
<%= link_to("プロフィール", "/user/show")%>
<p>マイページ</p>
<%= link_to("お気に入り", "#")%>
<%= link_to("投稿", "#")%>
<div>
  <h1>My ロードマップ</h1>
  <% @mymaps.each do |map| %>
      <%= map.content %>
      <%= map.method %>
      <%= "#{map.time_required}分" %>
      <%= map.comment %>
    <% end %>
</div>
<%= link_to("編集", "/user/mapedit")%>