<!--No9-->
<% if flash[:notice]%>
 <div>
   <%= flash[:notice]%>
 </div>
<% end %>
<div class="maketitle">
<%if @current_user && @user.id == @current_user.id %>
<h3 class="makename">My page</h3>
<%else%>
<h3 class="makename"><%= @user.name %> page</h3>
<%end%>
</div>
<div class="usermiddle">
<p class="profile">プロフィール</p>
<div class="probox"></div>
<%= link_to("ロードマップ", "/user/road/#{@user.id}", {class: "goroadfp"})%>
<%= link_to("お気に入り", "/user/#{@user.id}/likepage", {class: "golilefp"})%>
<%= link_to("投稿", "/user/mroadi/#{@user.id}", {class: "goshowfp"})%>
<p class="profilemiddle">プロフィール</p>
</div>
<div class="usermain">
<div class="imagezone">
<img src="<%= "/user_images/#{@user.image_name}"%>" class="circleimg">
<p class="username"><%= "#{@user.name}" %>
</div>
<p class="usercomment"><%= "#{@user.comment}" %></p>
<p class="sublink"><%= @user.name %>について</p>
<%= link_to("#{@user.link}", "#{@user.link}", {class: "userlink"})%>
<%if @current_user && @user.id == @current_user.id %>
  <p class="useremail"><%= "#{@user.email}" %></p>
  <%= link_to("編集", "/user/showedit/#{@user.id}", {class: "edituser"})%>
<%end%>
<% if @current_user %>
  <% if @current_user.admin? && !(@current_user.id == @user.id) %>
    <%= link_to("削除", "/user/destroy/#{@user.id}", class: "deleteuser", method: :post,
                                    data: { confirm: "You sure?" }) %>
  <%end%>
<%end%>
</div>
  