<h3>My page</h3>
<p>プロフィール</p>
<%= link_to("ロードマップ", "/user/road")%>
<%= link_to("お気に入り", "#")%>
<%= link_to("投稿", "#")%>

<h1>プロフィール</h1>
<p>アイコン</p>
<%= "#{@user.name}" %>
<%= "#{@user.comment}" %>
<%= "#{@user.link}" %>
<%= "#{@user.email}" %>
