<!--No1-->
<% if flash[:notice]%>
 <div class="flash">
   <%= flash[:notice]%>
 </div>
<% end %>
<div class = "top-wrapper">
  <div class = "container">
    <img class = "main-logo"  src="/user_images/home.jpg">
  </div>
</div>
<div clas="contents">
  <div class="content" >
    <%= link_to("/roadmap/1") do %>
    <img class = "front"  src="/user_images/frontendphone.jpg">
    <p class="ti">フロントエンドエンジニア</p>
    <p class="lo">フロントエンドエンジニアは、Webアプリケーションなどでユーザーが画面越しに触れる部分、つまりフロントエンドの設計や構築を行う職種です。 フロントエンドエンジニアはデザイナーが設計したデザインを元にHTML、CSS、JavaScriptを駆使して、ブラウザに表示できるようにコーディングを実施します。</p>
    <%end%>
  </div>
  <div class="content">
    <%= link_to("/roadmap/2") do %>
    <img class = "back"  src="/user_images/backendphone.jpg">
    <p class="ti">バックエンドエンジニア</p>
    <p class="lo">バックエンドエンジニアは、プログラムの開発からWebサーバー、データベースといった環境整備まで幅広く担当するWeb系の技術者です。 主に、ユーザーからは見えない裏側（バックエンド）のシステム部分を構築します。サーバサイドプログラミング言語全般を扱います。 例えば、PHP、GO、Python、Ruby、C#、Java、JavaScriptなどの言語が該当します。</p>
    <%end%>
  </div>
  <div class="content">
    <%= link_to("/roadmap/4") do %>
    <img class = "free"  src="/user_images/freelancephone.jpg">
    <p class="ti">フリーランスエンジニア</p>
    <p class="lo">フリーランスエンジニアは、会社などの組織体に所属せず、自分1人の力で仕事を獲得し、成果をお客様へ納品していくエンジニアのことです。仕事を選ぶことができるという点と自由な場所・時間で働くことができるという点が特徴的です。</p>
    <%end%>
  </div>
</div>
<div class="what">
  <p class="qes">What is</p>
  <img class = "sub-logo"  src="/user_images/home.jpg">
  <p class="mark"> ？</p>
  <p class="detail">WEBNARUは未経験者がwebエンジニアになるためにどのような勉強や工程が必要なのか、つまりエンジニアになるためのロードマップをだれでも閲覧、また投稿することができるサービスです。</p>
  <p class="send">詳しい機能はこちらから　　　　<%= link_to("How to use a WEBNARU", "/about", {class: "link"}) %></p>
</div>