<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=no" name="viewport" />
    <title>RoadApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="head">
        <%= link_to("/") do %>
          <img class = "head-logo"  src="/user_images/head.jpg">
        <%end%>
      <ul>
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/user/show/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("How to use", "/about") %>
          </li>
          <li>
            <%= link_to("logout", "/logout", {method: :post}) %>
          </li>
          <li>
            <%= link_to("My page", "/user/show/#{@current_user.id}") %>
          </li>
        <% else %>
          <li>
            <%= link_to("How to use", "/about") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
          <li>
            <%= link_to("新規登録", "/user/new") %>
          </li>
        <% end %>
      </ul>
      </div>
    </header>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
    <hooter>
      <div class="hooter">
      <%= link_to("/") do %>
          <img class = "hoot"  src="/user_images/head.jpg">
      <%end%>
        <%= link_to("ロードマップ一覧", "/", {class: "return"}) %>
      </div>
    </hooter>
  </body>
</html>
