<!DOCTYPE html>
<html>
  <head>
    <title>RoadApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
          <%= link_to("Roadmap update", "/") %>
      </div>
      <ul>
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/user/show/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("アプリについて", "/about") %>
          </li>
          <li>
            <%= link_to("logout", "/logout", {method: :post}) %>
          </li>
          <li>
            <%= link_to("My page", "/user/show/#{@current_user.id}") %>
          </li>
        <% else %>
          <li>
            <%= link_to("アプリについて", "/about") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
          <li>
            <%= link_to("新規登録", "/user/new") %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
    <hooter>
      <div>
        <%= link_to("Roadmap update", "/") %>
      </div>
      <div>
        <%= link_to("ロードマップ一覧", "/") %>
      </div>
    </hooter>
  </body>
</html>
